.card-new{
	width: 100%;
	padding: 0 50px;
}

.shadow-inset{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1) inset;
	padding: 8px;
	border-radius: 2px;
	border: 1px solid #607D8B;
}

.btn-primary{
	background-color: #0D9ABD !important;
	width: 100%;
	left: -23px;
	margin: 15px;
}

.message-box{
	width: 60%;
	border: 1px solid #fff;
	border-radius: 10px;
	margin: 20px 0;
	padding: 20px 30px;
	padding-top: 0;
	position: relative;
	float: left;
	background-color: #fefefe;	
}

.message-box h4{
	color: #0D9ABD;
}

.box-right{
	float: right;
	background-color: #eee;
}