<div ng-controller="FavoriteIndex as rk" ng-init="rk.loadRanking();">
	<div class="comments">
		<div ng-repeat="comment in rk.comments | orderBy : '-favorites' | limitTo: 10" class="message-box" ng-class="{'box-right': rk.messagePosition(comment.address)}" >

			<h4 ng-init="rk.comment_id = comment.id;  rk.ranking();">{{comment.name}}
				<p class="points" style="color: red;">
					<i class="material-icons add-ranking" ng-click="rk.addRanking()">favorite</i> 
					<span style="position: relative; top: -5px; font-size: 1.5em; margin-left: 5px;">{{comment.favorites.length}}</span>
				</p>
			</h4>

			<p>{{comment.content}}</p>
		</div>
	</div>
</div>