$('.add-comment').bind('ajax:success', function() {  
    $(".message-box").append("
    	<h4>{{comment.name}}</h4>
		<p>{{comment.content}}</p>
		<div ng-controller='FavoriteIndex as rk' ng-init='rk.comment_id = comment.id; rk.ranking();' >
			<button ng-click='rk.addRanking()', class='add-ranking'>
				<span>Inutilidade: {{rk.rankingValue}}</span> +
			</button>
		</div>
	");
}); 