<div class="mdl-card mdl-card-wide mdl-shadow--2dp card-new">
	<h4>Comenta ai!</h4>
	<%= form_for @comment do |comment| %>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
		<%= comment.text_field :name, class: "mdl-textfield__input shadow-inset", placeholder: "Qual o seu nome mesmo?" %>
	</div>
	<div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
		<%= comment.text_area :content, class: "mdl-textfield__input shadow-inset", placeholder: "Manda seu melhor comentário!" %>
	</div>

	<div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
		<%= recaptcha_tags %>
	</div>

	<div class="mdl-card__actions mdl-card--border">
		<%= comment.submit "Comentar", class: "mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-primary add-comment", remote: :true, method: "post" %>
	</div>
	<% end %>
</div>

<div ng-controller="CommentIndex as vm" ng-init="vm.count = 10; vm.load();">
	<div class="comments">
		<div ng-repeat="comment in vm.comments" class="message-box" ng-class="{'box-right': vm.messagePosition(comment.address)}" >
			<h4>{{comment.name}}
				<p class="points" style="color: red;" ng-controller="FavoriteIndex as rk" ng-init="rk.comment_id = comment.id; rk.ranking();">
					<i class="material-icons add-ranking" ng-click="rk.addRanking()">favorite</i> 
					<span style="position: relative; top: -5px; font-size: 1.5em; margin-left: 5px;">{{rk.rankingValue}}</span>
				</p>
			</h4>
			<p>{{comment.content}}</p>

		</div>
	</div>

	<button class="mdl-button mdl-button--raised btn mdl-js-button mdl-js-ripple-effect btn-welcome" ng-click="vm.count = vm.count + 10; vm.load();" style="width: 100%; top: 0px; margin: 20px 0;">Ver mais inutilidades</button>
</div>