/* line 1, /home/developer/Projetos/inutil/app/assets/stylesheets/comments/index.css.scss */
.card-new {
  width: 100%;
  padding: 0 50px;
}

/* line 6, /home/developer/Projetos/inutil/app/assets/stylesheets/comments/index.css.scss */
.shadow-inset {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) inset;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #607D8B;
}

/* line 13, /home/developer/Projetos/inutil/app/assets/stylesheets/comments/index.css.scss */
.btn-primary {
  background-color: #0D9ABD !important;
  width: 100%;
  left: -23px;
  margin: 15px;
}

/* line 20, /home/developer/Projetos/inutil/app/assets/stylesheets/comments/index.css.scss */
.message-box {
  width: 60%;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px 30px;
  padding-top: 0;
  position: relative;
  float: left;
  background-color: #fefefe;
}

/* line 32, /home/developer/Projetos/inutil/app/assets/stylesheets/comments/index.css.scss */
.message-box h4 {
  color: #0D9ABD;
}

/* line 36, /home/developer/Projetos/inutil/app/assets/stylesheets/comments/index.css.scss */
.box-right {
  float: right;
  background-color: #eee;
}
.welcome{
	text-align: center;
	position: relative;
	padding: 50px 10px;
	color: #ecf0f1;
}

.welcome p{
	width: 65%;
	margin: 0 auto;
	font-size: 1.2em;
}

.btn{
	background-color: #eee !important;
	color: rgb(33,150,243) !important;
	min-width: 200px;
}

.btn-welcome{
	position: relative;
	top: 6em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
body {
  background-image: linear-gradient(230deg, #1a86ce, #00adad);
}

/* line 22, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-layout-icon {
  transform: scale(1.2);
}

/* line 26, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.title-menu {
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.5em;
}

/* line 32, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.light-color {
  color: #ecf0f1 !important;
}

/* line 36, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.blue-color {
  color: #3B5998 !important;
}

/* line 40, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-layout__drawer.is-visible {
  width: 100%;
  text-align: center;
  padding-top: 35%;
  background-image: linear-gradient(230deg, #1a86ce, #00adad);
}

/* line 47, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.button-close-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* line 54, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-navigation__link:hover {
  color: #0D9ABD !important;
}

/* line 58, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-navigation__link:hover .message {
  color: #2196F3 !important;
}

/* line 62, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-navigation__link:hover .favorite {
  color: #F44336 !important;
}

/* line 66, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-navigation__link:hover .about {
  color: #4CAF50 !important;
}

/* line 70, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.align-center {
  position: relative;
  margin: 0 auto;
}

/* line 75, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.button-menu {
  width: 315px;
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  left: 0px;
}

/* line 83, /home/developer/Projetos/inutil/app/assets/stylesheets/application.css.scss */
.mdl-layout__drawer-button i {
  color: #0D9ABD;
}
