.welcome{
	text-align: center;
	position: relative;
	padding: 50px 10px;
	color: #ecf0f1;
}

.welcome p{
	width: 65%;
	margin: 0 auto;
	font-size: 1.2em;
}

.btn{
	background-color: #eee !important;
	color: rgb(33,150,243) !important;
	min-width: 200px;
}

.btn-welcome{
	position: relative;
	top: 6em;
}

.add-ranking{
	transform: scale(1);
	/*transition: 1s;*/
}

.add-ranking:hover{
	cursor: pointer;
}

.add-ranking:focus{
	animation-name: pulse;
	animation-duration: 0.5s;
}

@keyframes pulse{
	0% 	{ transform: scale(1); }
	50% 		{ transform: scale(1.5); }
	100% 	{ transform: scale(1); }
}