<div class="welcome">
	<h2>Isso é realmente necessário?</h2>
	<p>Parece uma informação totalmente inutil, mas tudo bem...</p>

	<ul class="about">
		<li><b>Github: </b><a href="https://github.com/lleonardoll" target="_blank">lleonardoll</a></li>
		<li><b>Bitbucket: </b><a href="https://bitbucket.org/lleonardoll/" target="_blank">lleonardoll</a></li>
		<li><b>Facebook: </b><a href="https://www.facebook.com/llleonardolll" target="_blank">Leonardo Camp</a></li>
		<li><b>E-mail: </b>leofrederiche@gmail.com</li>
	</ul>
</div>