<div class="welcome">
	<h2>Comente a inutilidade</h2>
	<p>Já imaginou poder postar algo totalmente inútil? como quando você está indo pra academia, quando está com fome, ou quando está com o namorado sem que ninguém te ignore?</p>

	<%= link_to "Comentar", comments_path, class: "mdl-button mdl-button--raised mdl-button--primary btn btn-welcome" %>
</div>