/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	outline: none;
}

body{
	background-image: linear-gradient(230deg, #1a86ce, #00adad);
}

.mdl-layout-icon{
	transform: scale(1.2);
}

.title-menu{
	text-decoration: none;
	margin-left: 20px;
	font-size: 1.5em;
}

.light-color{
	color: #ecf0f1 !important;
}

.blue-color{
	color: #3B5998 !important;
}

.mdl-layout__drawer.is-visible{
	width: 100%;
	text-align: center;
	padding-top: 35%;
	background-image: linear-gradient(230deg, #1a86ce, #00adad);
}

.button-close-menu{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	width: 25px;
}

.mdl-navigation__link:hover{
	color: #0D9ABD !important;
}

.mdl-navigation__link:hover .message{
	color: #2196F3 !important;
}

.mdl-navigation__link:hover .favorite{
	color: #F44336 !important;
}

.mdl-navigation__link:hover .about{
	color: #4CAF50 !important;
}

.align-center{
	position: relative;
	margin: 0 auto;
}

.button-menu{
	width: 315px;
	max-width: 80%;
	position: relative;
	margin: 0 auto;
	left: 0px;
}

.mdl-layout__drawer-button i{
	color: #0D9ABD;
}

@media screen and (max-width: 992px) {
	.mdl-layout--large-screen-only{
		display: none !important;
	}

	.mdl-layout--small-screen-only{
		display: block !important;
	}
}