<!DOCTYPE html>
<html>
  <head>
    <title>Inutil</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= csrf_meta_tags %>
  </head>

  <body class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-app="app">
  	<header class="mdl-layout__header mdl-color--white ">
      <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button mdl-layout--small-screen-only">
        <i class="material-icons"></i>
      </div>
      
  		<div class="mdl-layout__header-row ">
        <i class="material-icons mdl-layout-icon" style="color: #0d9abd;">mode_comment</i>
  			<%= link_to "INUTIL", root_path, class: "mdl-title title-menu mdl-color-text--grey-800" %>

  			<div class="mdl-layout-spacer"></div>

  			<nav class="mdl-navigation mdl-layout--large-screen-only ">
          <%= link_to comments_path, class: "mdl-navigation__link mdl-color-text--grey-800" do %>
            <i class="material-icons mdl-color-text--grey-500 message">message</i> Comentarios
          <% end %>

          <%= link_to favorites_path, class: "mdl-navigation__link mdl-color-text--grey-800" do %>
            <i class="material-icons mdl-color-text--grey-500 favorite">favorite</i> Ranking
          <% end %>

          <%= link_to about_path, class: "mdl-navigation__link mdl-color-text--grey-800" do %>
            <i class="material-icons mdl-color-text--grey-500 about">person_pin</i> Sobre
          <% end %>
  			</nav>
  		</div>
  	</header>

    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <i class="button-close-menu material-icons">close</i>
      <span class="mdl-layout-title font-title light-color">
        <%= link_to "INUTIL", root_path, class: "title-menu light-color", style: "margin-left: 0;" %>
      </span>
      <nav class="mdl-navigation small-screen-only">
        <%= link_to comments_path, class: "mdl-navigation__link light-color" do %>
          Comentarios
        <% end %>
        <%= link_to favorites_path, class: "mdl-navigation__link light-color" do %>
          Ranking
        <% end %>
        <%= link_to about_path, class: "mdl-navigation__link light-color" do %>
          Sobre
        <% end %>
      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-layout--medium-screen-only"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <%= yield %>
        </div>
    </div>
    </main>
  </body>
</html>
